<figure id="<%= videoFigureId %>" class="fjfigure" data-fullscreen="<%= fullScreenOnStart %>">
    <video id="<%= videoId %>" class="divofVideo" width="<%= vwidth %>" height="<%= vheight %>">
        </video>
    <div class="divInfo" id="<%= videoInfoId %>">
        <span class=" divIconBtn divconeontrolLeft fa  fa-arrow-left"> </span>
        <p class=" divTspanitleSeparator divconeontrolLeft "> </p>
        <div id="<%= titleId %>" class="fjcontrols-control-text divIconBtn divconeontrolLeft"> </div>
        <span class=" divIconBtn divconeontrolRight fa  fa-share-alt "> </span>
        <p class=" divTspanitleSeparator divconeontrolRight "> </p>
        <span class=" divIconBtn divconeontrolRight  fa fa-download "> </span>
    </div>
    <div class="divBigPlayBtn" id="<%= BigPlayBtnId %>">
        <span class=" divIconBtn  divconeontrolLeft fa  fa-play "> </span>
    </div>
    <div class="fjcontrols-panel" id="<%= videoControlsId %>">
        <div class="fjcontrols-panel-controls">
            <div class="hprogressbar" id="<%= progressDivId %>">
                <input id="<%= progressBarId %>" type="range" />
            </div>
        </div>
        <div class="fjcontrols-control divIconBtn divconeontrolIcon divconeontrolLeft clickable ">
            <span id="<%= playpauseBtnId %>" class="fa fa-play" title="Play"></span>
        </div>
        <div class="fjcontrols-control divconeontrolIcon divIconBtn divconeontrolLeft clickable">
            <span id="<%= muteBtnId %>" title="volume-full" class="fa fa-volume-up"></span>
        </div>
        <div class="fjcontrols-control fjcontrols-control-left">
            <div class="volumebar" id="<%= volumeDivId %>">
                <input class="clickable" id="<%= volumeBarId %>" type="range" />
            </div>
        </div>
        <div class="fjcontrols-control  fjcontrols-control-left ">
            <div id="<%= timerId %>" class="fjcontrols-control fjcontrols-control-text">
                <span>0:00:00</span><span>/</span><span>0:00:00</span>
            </div>
        </div>
        <div class="fjcontrols-control divIconBtn divconeontrolIcon fjcontrols-control-right clickable">
            <span id="<%= fullScreenBtnId %>" title="Fullscreen" class="fa fa-arrows-alt"></span>
        </div>
        <div id="<%= expandDivId %>" class="fjcontrols-control divIconBtn divconeontrolIcon fjcontrols-control-right clickable">
            <span id="<%= expandBtnId %>" class="fa fa-expand" title="Double player size"></span>
        </div>
        <div id="<%= subtitlesDivId %>" class="fjcontrols-control divIconBtn divconeontrolIcon fjcontrols-control-right clickable">
            <span id="<%= subtitlesBtnId %>" class="fa fa-cc" title="subtitles"></span>
        </div>
    </div>
    <div class="thumbsBlockDiv" id="<%= thumbsDivId %>">
        <span class="thumbsBlock" id="<%= thumbsImgId %>"></span>
        <span class="fjcontrols-control-text" id="<%= thumbstimerId %>"></span>
    </div>
    <div id="<%= audMenuContainerDivId %>"></div>
    <div id="<%= subsdMenuContainerDivId %>"></div>
    <div id="<%= overlaysContainerDivId %>"></div>
    <div id="<%= adsContainerDivId %>"></div>
</figure>